body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0 0 10px;
}
/*container*/
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
/*header*/

.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__innner {
  padding: 35px 0px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #515369;
}

/*nav*/
.nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
}
.nav__link {
  margin-left: 50px;
  opacity: 0.75;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.1s linear;
}
.nav__link:first-child {
  margin-left: 0px;
}

.nav__link:hover {
  opacity: 1;
}

/*intro*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  background: #31344e url('img/intro-bg.jpg') center no-repeat;
  background-size: cover;
  height: 750px;
}
.intro__inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 65px;
  color: #fff;
  font-weight: 700;
  margin: 0;
  text-align: center;
  margin: 0 0 30px;
  line-height: 1.1;
}

.intro__subtititle {
  font-size: 12px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 60px;
}

/*but*/
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 14px 40px;

  border-radius: 3px;
  cursor: pointer;

  font-family: 'inherit';
  color: #515369;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;

  transition: background 0.1s linear;
}

.btn--red {
  background-color: #e84545;
}

.btn--red:hover {
  background-color: #dc1e1e;
}

/*featuresaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 95px 0;
}

.features_item {
  width: 33.3333%;
  text-align: center;
  padding: 0 40px;
  margin: 25px 0;
}

.features_icon,
.features_text {
  margin-bottom: 20px;
}

.features_title {
  font-size: 14px;
  margin-bottom: 15px;
  color: #2d3033;
  font-weight: 700;
}

.features_text {
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}

/*works*/
.works {
  display: flex;
  flex-wrap: wrap;
}

.works_item {
  width: 25%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid white;
  border-right: 1px solid #fff;
}

.works_img {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;

  transform: translate3d(-50%, -50%, 0);
}

.works_item:hover .works_content {
  opacity: 1;
}
.works_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  opacity: 0;

  background-color: rgba(232, 69, 69, 0.7);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  transition: opacity 0.2s linear;
}

.works_title {
  margin-bottom: 5px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.works_text {
  font-size: 14px;
  color: #fff;
}
